:root {
  --gray: #282c34;
  --white: #fff;
  --light-blue: #61dafb;
  --darker-blue: #21a1f1;
}

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  text-align: center;
  margin: 0;
  padding: 0;
  background-color: var(--gray);
  color: var(--white);
}

h1 {
  margin-top: 20px;
  font-size: 2.5rem;
  color: var(--light-blue);
}

.game-info {
  margin-bottom: 20px;
}

input[type='text'] {
  padding: 10px;
  border: none;
  border-radius: 5px;
  width: 80%;
  max-width: 400px;
  font-size: 1rem;
  margin-bottom: 10px;
}

button {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: var(--light-blue);
  color: var(--white);
  font-size: 1rem;
  cursor: pointer;
  margin-bottom: 20px;
  color: var(--gray);
}

button:hover {
  background-color: var(--darker-blue);
  transition: 0.3s;
}

.periodic-table {
  display: grid;
  grid-template-columns: repeat(18, 50px);
  gap: 10px;
  justify-content: center;
  padding: 20px;
}

.element {
  border: 2px solid #ccc;
  padding: 15px;
  text-align: center;
  background-color: #3b4049;
  border-radius: 0.5rem;
  color: #000000;
  font-weight: bold;
  transition: all 0.3s ease;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
}

.element.correct {
  background-color: #90ee90;
  border-color: #61dafb;
}

a {
  text-decoration: none;
  color: var(--light-blue);
}

a:hover {
  color: var(--darker-blue);
  transition: 0.3s;
}

.popup {
  position: absolute;
  background-color: white;
  border: 1px solid black;
  padding: 5px;
  z-index: 1000;
  pointer-events: none;
  color: black;
}

/* Färgkategorier för olika elementtyper */
.element[data-category='alkali-metal'] {
  background-color: #fc6763; /* Red */
}

.element[data-category='alkaline-earth-metal'] {
  background-color: #fedcac; /* Light Yellow */
}

.element[data-category='transition-metal'] {
  background-color: #f9c3c1; /* Light Pink */
}

.element[data-category='post-transition-metal'] {
  background-color: #a9cdcd; /* Silver */
}

.element[data-category='metalloid'] {
  background-color: #cacd96; /* Tan */
}

.element[data-category='non-metal'] {
  background-color: #a3ff95; /* Yellow-Green */
}

.element[data-category='halogen'] {
  background-color: #fcff88; /* Sandy Brown */
}

.element[data-category='noble-gas'] {
  background-color: #c3fdfe; /* Light Blue */
}

.element[data-category='lanthanide'] {
  background-color: #ffbdfe; /* Lavender */
}

.element[data-category='actinide'] {
  background-color: #ff98d0; /* Light Pink */
}

@media (max-width: 1200px) {
  .periodic-table {
    grid-template-columns: repeat(9, 50px);
  }
}

@media (max-width: 768px) {
  h1 {
    font-size: 2rem;
  }

  .periodic-table {
    grid-template-columns: repeat(6, 50px);
    gap: 5px;
  }

  .element {
    padding: 10px;
  }
}

@media (max-width: 480px) {
  input[type='text'] {
    width: 100%;
    font-size: 0.9rem;
  }

  button {
    width: 100%;
    font-size: 0.9rem;
  }

  .periodic-table {
    grid-template-columns: repeat(4, 50px);
  }

  .element {
    padding: 8px;
  }
}
